# Ignore node_modules folder
node_modules

# Ignore log files
*.log

# Ignore Dockerfile, docker-compose, etc.
Dockerfile
docker-compose.yml

# Ignore local environment variables
.env

# Ignore other files that are not necessary for your app
.git
.gitignore
